@model IEnumerable<BlogPost.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Text</p>
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Go Details</a>
        </div>
        <h class="card-footer">@item.CreatedDate | Status:@item.Status.Name</h>
    </div>
<br />
}